.btn-counter {
	display: flex;
	padding: 5px 15px;
	margin-left: 5px;
	border-radius: 5px;
	border: none;
	outline: inherit;
}

.btn-counter__increment {
	color: white;
	background-color: #27ae09;
}
.btn-counter__decrement{
	color: black;
	background: #ff757583;
}
.btn-counter__resetvalue {
	color: black;
	background: #fb3838a0;
}
